* {
    vertical-align: baseline;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    border: none;
    padding: 0;
    margin: 0;
}
body {
    font-family: Verdana;
    color: #c7c7c7;
}
h1, h2, h3, h4, h5, h6, p, pre, blockquote, form, ul, ol, dl {
    margin: 20px 0;
}
li, dd, blockquote {
    margin-left: 0px;
}

a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    background: url("../img/background.jpg") no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

/***************************************************************************/

header {
    height: 52px;
    background-color: rgba(99, 97, 97, 0.9);
}

header .wrapper-header {
    width: 900px;
    height: 52px;
    margin: auto;
    overflow: hidden;
}

header .wrapper-header .logo{
    margin: 17px 0 0 3px;
    float: left;
}

header .wrapper-header .search{
    height: 25px;
    width: 408px;
    margin: 13px 28px 0 225px;
    border-radius: 5px;
    background-color: white;
    float: left;
}

header .wrapper-header .search .left-img{
    padding: 2px 8px;
    height: 25px;
    float: left;
}

header .wrapper-header .search .search-block{
    float: left;
}

header .wrapper-header .search .search-block input{
    outline:none;
    border-left: 1px solid #c7c7c7;
    border-right: 1px solid #c7c7c7;
    margin-top: 4px;
    margin-right: 14px;
    padding-left: 10px;
    height: 17px;
}

header .wrapper-header .search .right-img{
    overflow: hidden;
}

header .wrapper-header .search .right-img img{
    margin-top: 3px;
    margin-right: 7px;
    height: 17px;
    float: left;
}

header .wrapper-header .search .right-img div{
    margin-top: 2px;
    float: left;
}

header .wrapper-header .search .right-img .search-img{
    height: 25px;
    margin: 0;
    float: right;
}

header .wrapper-header .header-right{
    height: 25px;
    width: 130px;
    margin: 11px 0 0 0;
    overflow: hidden;
}

header .wrapper-header .header-right a{
    color: white;
}

header .wrapper-header .header-right .avatar{
    margin-right: 4px;
    float: left;
}

header .wrapper-header .header-right div{
    margin-top: 3px;
    margin-right: 9px;
    float: left;
}

@media (max-width: 768px){
    header {
        height: 52px;
        background-color: rgba(99, 97, 97, 0.9);
    }

    header .wrapper-header {
        width: 768px;
        height: 52px;
        margin: auto;
        overflow: hidden;
    }

    header .wrapper-header .logo{
        margin: 17px 0 0 13px;
        float: left;
    }

    header .wrapper-header .search{
        height: 25px;
        width: 408px;
        margin: 13px 28px 0 40px;
        border-radius: 5px;
        background-color: white;
        float: left;
    }

    header .wrapper-header .search .left-img{
        padding: 2px 8px;
        height: 25px;
        float: left;
    }

    header .wrapper-header .search .search-block{
        float: left;
    }

    header .wrapper-header .search .search-block input{
        outline:none;
        border-left: 1px solid #c7c7c7;
        border-right: 1px solid #c7c7c7;
        margin-top: 4px;
        margin-right: 14px;
        padding-left: 10px;
        height: 17px;
    }

    header .wrapper-header .search .right-img{
        overflow: hidden;
    }

    header .wrapper-header .search .right-img img{
        margin-top: 3px;
        margin-right: 7px;
        height: 17px;
        float: left;
    }

    header .wrapper-header .search .right-img div{
        margin-top: 2px;
        float: left;
    }

    header .wrapper-header .search .right-img .search-img{
        height: 25px;
        margin: 0;
        float: right;
    }

    header .wrapper-header .header-right{
        height: 25px;
        width: 130px;
        margin: 11px 0 0 0;
        overflow: hidden;
    }

    header .wrapper-header .header-right a{
        color: white;
    }

    header .wrapper-header .header-right .avatar{
        margin-right: 4px;
        float: left;
    }

    header .wrapper-header .header-right div{
        margin-top: 3px;
        margin-right: 9px;
        float: left;
    }
}

/***************************************************************************/

.middle {
    height: 255px;
}

.middle .wrapper-middle {
    width: 900px;
    height: 225px;
    margin: auto;
    margin-top: 40px;
    padding-top: 30px;
    overflow: hidden;
}

.middle .wrapper-middle .green-btn-ad{
    width: 255px;
    height: 39px;
    background-color: #6ec465;
    border-radius: 3px;
}

.middle .wrapper-middle .green-btn-ad img{
    margin: 8px 10px 0 12px;
    float: left;
}

.middle .wrapper-middle .green-btn-ad span{
    display: inline-block;
    margin-top: 11px;
    width: 160px;
    font-size: 14px;
    color: white;
    float: left;
}

.middle .wrapper-middle span{
    color: #525252;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 15px;
    display: block;
}

/***************************************************************************/

.content {
    min-height: 315px;
}

.content .wrapper-content{
    width: 900px;
    min-height: 315px;
    margin: auto;
    overflow: hidden;
}

.content .wrapper-content{
    width: 800px;
    padding: 0 45px 0 45px;
    min-height: 315px;
    margin: auto;
    overflow: hidden;
}

.content .wrapper-content .element{
    width: 160px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
    float: left;
}

.content .wrapper-content .element .border{
    width: 43px;
    height: 45px;
    border: 1px solid #878787;
    margin: auto;
    border-radius: 5px;
}

.content .wrapper-content .element .border img{
    margin-top: 8px;
    margin-left: 5px;
}

.content .wrapper-content .element .category-name{
    color: #535353;
    margin-top: 5px;
    text-align:center;
    display: block;
    font-size: 12px;
}

.content .wrapper-content .element .category-count{
    color: #808080;
    display: block;
    text-align:center;
    font-size: 8px;
}

/***************************************************************************/

.pre-footer {
    height: 85px;
    margin-top: 60px;
}

.pre-footer .wrapper-pre-footer{
    width: 900px;
    height: 85px;
    margin: auto;
    overflow: hidden;
}

.pre-footer .wrapper-pre-footer .left-pre-footer{
    font-size: 22px;
    margin-top: 30px;
    margin-right: 40px;
    color: #5a5a5a;
    font-weight: 500;
    float: left;
}

.pre-footer .wrapper-pre-footer .middle-pre-footer{
    font-size: 12px;
    width: 380px;
    display: inline;
    color: #5a5a5a;
    font-weight: 500;
    float: left;
}

.pre-footer .wrapper-pre-footer .right-pre-footer{
    margin-top: 24px;
    float: right;
}

.pre-footer .wrapper-pre-footer .right-pre-footer .footer-btn-ad{
    width: 255px;
    height: 39px;
    border: 2px solid white;
    border-radius: 3px;
}

.pre-footer .wrapper-pre-footer .right-pre-footer .footer-btn-ad img{
    margin: 8px 10px 0 12px;
    float: left;
}

.pre-footer .wrapper-pre-footer .right-pre-footer .footer-btn-ad span{
    display: inline-block;
    margin-top: 11px;
    width: 160px;
    font-size: 14px;
    color: white;
    float: left;
}

.pre-footer .wrapper-pre-footer .right-pre-footer img{
    margin: 8px 7px 0 7px;
}

/*************************************************************************/

footer {
    height: 52px;
    margin-top: 22px;
    background: #6ec465;
}

footer .wrapper-footer {
    width: 900px;
    height: 52px;
    margin: auto;
    overflow: hidden;
}

footer .wrapper-footer .logo-footer{
    width: 90px;
    margin: 15px 10px 0 3px;
    float: left;
}

footer .wrapper-footer ul{
    display: inline;
}

footer .wrapper-footer ul li{
    display: inline;
    float: left;
}

footer .wrapper-footer ul li a{
    margin-top: 15px;
    margin-left: 15px;
    color: white;
    text-decoration: none;
    display: inline;
    float: left;
}
